body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
        align-items: center;
    padding: 1rem;
    background-color: #007bff;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    margin-right: 1rem;
}
nav ul li a {
    text-decoration: none;

}
span a {
    text-decoration: none;
}
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section h1 {
    font-size: 2em;
    color: #3498db;
    margin-bottom: 10px;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.5;
}


section {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #007bff;
}

a {
    color: hsl(106, 100%, 50%);

}
ul {
    list-style: none;
    padding: 0;
    
}
li {
    margin-bottom: 0.5rem;
}
footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
}
section{
    background-color: lightblue;
}
div{
    align-items: center;
    text-align: center;
}
.web{
    display: block;
    margin: 0 auto;
}